{% extends 'base.html' %}
{% block content %}
  <div style="background-color:#E56717;">
    <br>
    <br>
  </div>
  
    <h1> Articles</h1>  
    <div class="container">
      <div class="row row-cols-3">
        {% for object in list %}
          <div class="col">
          <div class="card" style="width: 330px;">
          <div class="card-body">
            <h5 class="card-title">{{object.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{object.Contributors}}</h6>
            <p class="card-text"> {{object.intro}}</p>
            <a href="/posts/{{ object.slug }}" class="card-link">Read more</a>
          </div>
          </div>
          </div>  
    {% endfor %}
    </div>
  </div>
  
{% endblock %}
