{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
   
    <title>NSS Unit 8 </title>

    

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templatemo-art-factory.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl-carousel.css' %}">
    </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">NSS Unit 8</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="https://nss-unit8.devst.repl.co/">Home</a></li>
                            <li><a href="/members">Members</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Posts</a>
                                <ul>
                                    <li><a href="/articles">Articles</a></li>
                                    <li><a href="/research">Research</a></li>
                                    <li><a href="/videos">Videos</a></li>
                                    <li><a href="/blogs">Blogs</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li>
                            <li ><a href="/admin">Staff Login</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <br>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Made with love by NSS Unit 8, IIT Kharagpur ❤️

                .<br> Site: <a rel="nofollow" href="https://nss-unit8.devst.repl.co/">NSS Unit 8</a></p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/nss.iitkgp/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.facebook.com/nss.iitkgp/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/nss.iitkgp/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/nss.iitkgp/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js'%}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/owl-carousel.js'%}"></script>
    <script src="{% static 'js/scrollreveal.min.js'%}"></script>
    <script src="{% static 'js/waypoints.min.js'%}"></script>
    <script src="{% static 'js/jquery.counterup.min.js'%}"></script>
    <script src="{% static 'js/imgfix.min.js'%}"></script>

    <!-- Global Init -->
    <script src="{% static 'js/custom.js'%}"></script>


  </body>
</html>  
