<!DOCTYPE html>

{% load static %}
<html>
 
<head>
 <title>
 Home
 </title>
 <style>
 * {
 box-sizing: border-box;
 margin: 0;
 padding: 0px;
 }

 ul {
 text-decoration: none;
 }
 
 .lnk {
 margin: 66px;
 padding: 50px;
 color: white;
 text-decoration: none;
 }
 
 .navigate,
 .intro {
 background-color: grey;
 color: blue;
 
 border: 3px solid red;
 height: 5vh;
 padding-top: 4px;
 
 }
 
 .top {
 background-color: black;
 color: blue;
 border: 3px solid #f3eb09;
 margin-bottom: 20px;
 padding-left: 610px;
 
 }
 </style>
</head>
 
<body>
 <header>
 <h1 class="top">
 <img src="" alt="inser img"> NSS UNIT 8
 </h1>
 <div class="firstRow">
 <div class="intro">
 <em>Here you are supposed to write some introduction about us</em>
 </div>
 </header>
 <div class="navigate">
 <a href="#x" class="lnk">about us</a>
 <a href="#x" class="lnk">contact us</a>
 <a href="#x" class="lnk">articles</a>
 <a href="#x" class="lnk">videos</a>
 <a href="#x" class="lnk">xyz</a>
 </div>
 
 </div>
 
 
</body>
</html>