
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ***** Welcome Area Start **** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-6 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s"
                    data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                        <h1><strong>NSS Unit 8</strong><br>IIT Kharagpur </h1>
                        <p><b>National Service Scheme (NSS) is a voluntary organisation launched in Gandhiji’s birth century year, 1969. The programme aims to promote students’ personality development by the means of community service. Coming from humble beginnings, NSS initially had a meagre 37 universities under it, which has grown substantially over the years, now having more than 3.2 million student volunteers from all over the nation.</b></p>
                        You can find out more about NSS <a target="_blank" href="https://nss.gov.in/" class="main-button-slider">here</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="{% static 'images/slider-icon.png' %}" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic ">
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'images/left-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                    <div class="left-heading">
                        <h5>About NSS IIT Kharagpur</h5>
                    </div>
                    <div class="left-text">
                        <p>In IIT-KGP, NSS has been made a part of core academic curriculum for close to one-third of the first and second year undergraduate students. The programme comprises of weekly activities held in villages and a minimum of one compulsory annual camp.
                        Some of the activities NSS IIT-KGP indulges in include-
                        <br>Regular activities-
                          <ul><small>
                            <li>
                              Education- Children are the future of the country and an educated mind can do wonders for the society as well as the world. From each unit, a teaching team is selected who give weekly tutuions to village school children or children of poor workers in the campus.
                            </li>
                            <li>
                              Cleanliness and Environment preservation- Nature birthed us not to destroy it, rather to become a part of it. All volunteers contribute in tree plantation, garbage picking, purification of water resourses, ’tripal’ distribution for rain water conservation and waste management through indegenious techniques.
                            </li>
                            <li>
                              Spreading Awareness- We believe in spreading awareness to the common person, and what better way to do it other than something that catches their interest? For instance, we spread general awareness on issues of health and hygiene by organising rallies, street plays or ‘nukkad’ etc.
                            </li>
                            <li>
                              Not cash but ‘Kind’ donation- We as students cannot provide a constant monetary help to the people who truly need it, but that doesn’t mean it must stop us. Distribution of clothing and apt books to village residents is undertaken on a regular basis by the volunteers.
                            </li></small>
                          </ul>
                        </p>
                        <a href="https://kgpchronicle.iitkgp.ac.in/tag/national-service-scheme/" class="main-button">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** blogs ***** -->
    <section class="section" id="about2">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                    <div class="left-heading">
                        <h5>Featured Posts</h5>
                    </div>
                    <p>Find the latest post here</p>
                    <ul>
                      {% for post in posts %}
                        <li>
                            <img src="{% static 'images/about-icon-01.png' %}" alt="">
                            <div class="text">
                                <h6>{{ post.title }}</h6>
                                <small>Posted on {{ post.date_added }}
                                <p>{{ post.intro }}</p>
                                <a href="{% url 'post_detail' post.slug %}">Complete article</a>
                            </div>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Small Start ***** -->
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="{% static 'images/service-icon-01.png'%}" alt=""></i>
                        </div>
                        <h5 class="service-title">Finance</h5>
                        <p>Details will be posted shortly.</p>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="{% static 'images/service-icon-02.png'%}" alt=""></i>
                        </div>
                        <h5 class="service-title">Housing</h5>
                        <p>Details will be posted shortly.</p>
                        <a href="#" class="main-button">Discover More</a>

                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="{% static 'images/service-icon-03.png'%}" alt=""></i>
                        </div>
                        <h5 class="service-title">Health</h5>
                        <p>Details will be posted shortly.</p>
                        <a href="#" class="main-button">More Detail</a>

                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="{% static 'images/service-icon-02.png'%}" alt=""></i>
                        </div>
                        <h5 class="service-title">Education</h5>
                        <p>Details will be posted shortly.</p>
                        <a href="#" class="main-button">Read More</a>

                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="{% static 'images/service-icon-01.png'%}" alt=""></i>
                        </div>
                        <h5 class="service-title">Food Market</h5>
                        <p>Details will be posted shortly.</p>
                        <a href="#" class="main-button">Discover</a>

                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="{% static 'images/service-icon-03.png'%}" alt=""></i>
                        </div>
                        <h5 class="service-title">Child and Woman Safety</h5>
                        <p>Details will be posted shortly.</p>
                        <a href="#" class="main-button">Detail</a>

                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="{% static 'images/service-icon-01.png'%}" alt=""></i>
                        </div>
                        <h5 class="service-title">Agriculture</h5>
                        <p>Details will be posted shortly.</p>
                        <a href="#" class="main-button">Read More</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->


    <!-- ***** Frequently Question Start ***** -->
    <section class="section" id="frequently-question">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Posts and Website Archives</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="section-heading">
                        <p>Find all the posts and older archives of NSS website here.</p>
                    </div>
                </div>
            </div>

            <!-- ***** Section Title End ***** -->

            <div class="row">
                <div class="left-text col-lg-6 col-md-6 col-sm-12">
                    <h5>Website Archives</h5>
                    <div class="accordion-text">
                        <p><a href="https://nssiitkgp.blogspot.com/">Old NSS Website</a></p>
                        <span>Email: <a href="#">nss.unit8.iitkgp@gmail.com</a><br></span>
                        <a href="#contact-us" class="main-button">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="accordions is-first-expanded">
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>March</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Post details will be updated.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>April</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Post details will be updated.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>May</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Post details will be updated.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>June</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Post details will be updated.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>July</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Post details will be updated.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>August</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Post details will be updated.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Frequently Question End ***** -->


    <!-- ***** Contact Us Start ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <!-- ***** Contact Map Start ***** -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div id="map">
                      <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.967436812792!2d87.30540271387491!3d22.317071247132162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d440255555547%3A0x6f2f20dd0c0d6793!2sIndian%20Institute%20of%20Technology%20Kharagpur!5e0!3m2!1sen!2sin!4v1617892219043!5m2!1sen!2sin" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- ***** Contact Map End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Full Name" required="" class="contact-field">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" placeholder="E-mail" required="" class="contact-field">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Your Message" required="" class="contact-field"></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send It</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->


    <!-- ***** Footer Start ***** -->
    
{% endblock %}