{% extends 'base.html' %}
{% block content %}
  <div style="background-color:#E56717;">
    <br>
    <br>
  </div>
  <div style="margin: 30px;">
    <h1> Videos made by Students</h1>
    {% for object in list %}
    <h5> {{object.Title}} </h5>
    <h6>{{object.Contributors}}</h6>
    <p> {{object.Intro}} </p>
    <video>
    <source src="https://drive.google.com/uc?export=download&id={{object.Link_to_DriveVideo}}" type='video/mp4'>
    </video>
    {% endfor %}

  <video>
    <source src="https://drive.google.com/uc?export=download&id=1C6BVxFSdHm8Cf2QK1j30C_1zZCgDHFgP" type='video/mp4'>
</video>

    
  </div>
  
{% endblock %}
